.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 10%, 0.726);
  color: white;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  animation: fadeIn 1s ease-in-out;
}

.userInfo {
  position: absolute;
  right: 30px;
  top: 15px;
  font-size: 30px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 640px) {
  .userInfo {
    display: none;
  }
}
