.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92.9vh;
  padding-top: 100px;
  gap: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

