.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  background-color: #f7f0f0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: rgba(255, 255, 240, 0.479);
  box-shadow: rgba(0, 0, 0, 0.1) 10px 8px 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  gap: 50px;
}

.mobWrapper {
  padding: 6px 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.mobInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
}

.image {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}

.param {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  gap: 10px;
}

.param span {
  flex-grow: 1;
  text-align: right;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    gap: 18px;
  }
}
