.main {
}

.health {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.container {
  position: relative;
  height: 22px;
  width: 200px;
  background-color: wheat;
  border-radius: 10px;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 22px;
  border-radius: 10px;
}

.bar span {
  position: relative;
  left: 230px;
}

.number {
  color: black;
  position: relative;
  left: 15px;
}

.exp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 31px;
}
